/**
 * CSS for hugagoth.com
 * Steven Wilkin
 */


/**
 * general styles
 */

body {
	background-color: #000000;
	font-family: arial;
	font-size: 15px;
	color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #CC0000;
}

a:hover {
	color: #666666;
}

h2 {
	font-size: 20px;
	margin: 0 0 10px 0;
}

p {
	margin: 10px 0 5px 0;
}


/**
 * main layout
 */

#wrapper {
	margin: 20px 75px;;
}


#header {
}

#header h1 {
	font-size: 30px;
}

#header h1 a {
	color: #CC0000;
}

#header h2 {
	font-size: 20px;
	color: #666666;
}

#header ul {
	position: absolute;
	right: 75px;
	top: 30px;
}

#header ul li {
	float: left;
	padding: 0 0 0 7px;
}

#content {
	margin: 30px 0 35px 0;
}

#footer {
	font-size: 12px;
	text-align: right;
}


/**
 * goth profile pic
 */
#goth {
	margin: 0 auto;
	text-align: center;
}

#goth h3 {
	font-size: 15px;
	margin: 0 0 5px 0;
}

#goth p {
	margin: 5px 0 0;
}


/**
 * page specific styles
 */

#about {
	width: 50%;
}

#disclaimer {
	width: 50%;
}
