<div id="about">

	<h2>about hugagoth.com</h2>
	
	<p>
	hugagoth.com is a learning exercise in the use of the <%= link_to 'ruby', 'http://www.ruby-lang.org/' %>
	scripting language as well as the <%= link_to 'rails', 'http://rubyonrails.org/' %> web development framework
	</p>
	
	<p>
	the images displayed here were appropriated from <%= link_to 'gothornot.com', 'http://gothornot.com' %>
	via a ruby script i wrote and the site then constructed with rails
	</p>
	
	<p>
	the site as such serves no practical use but if you have any questions you can get in touch via
	<%= link_to 'stevenwilkin.com', 'http://stevenwilkin.com' %>
	</p>

</div>
