<div id="disclaimer">

	<h2>disclaimer</h2>

	<p>
	hugagoth.com makes use of images publicly available on <%= link_to 'gothornot.com', 'http://gothornot.com' %> and as such
	cannot be held responsible for their content or suitability for any purpose
	</p>

</div>
