<% return if @goths.empty? %>

<ul id="goths">

<% @goths.each do |goth| %>

<li>
	<%= goth_image_tag goth %>
	<p>
		<%= goth_vote_link goth %>
	</p>
</li>

<% end %>

</ul>

<%= will_paginate @goths, :page_links => false, :next_label => 'Older &raquo;', :prev_label => '&laquo; Newer' %>
