<% return if @goths.empty? %>

<ul id="goths">

<% @goths.each do |goth| %>

	<li>
		<%= render :partial => 'goth', :locals => {:goth => goth} %>
	</li>

<% end %>

</ul>

<%= will_paginate @goths, :page_links => false, :next_label => 'Older &raquo;', :prev_label => '&laquo; Newer' %>
